<h1>Tasks</h1>

<%= link_to 'New Task', new_task_path %>

<ul>
  <% @tasks.each do |task| %>
    <li>
      <strong><%= link_to task.title, task_path(task) %></strong>: <%= task.details %>
      <% if task.completed %>
        <em>(Completed)</em>
      <% end %>
      <%= link_to 'Edit', edit_task_path(task) %>
      <%= link_to 'Delete', task_path(task), data: { turbo_method: :delete, turbo_confirm: 'Are you sure you want to delete this task?' } %>
    </li>
  <% end %>
</ul>
